<div class="calculator">
    <div class="calculator_display">
        @@include("../display/_display.html", {
            "text": "1000"
        })
    </div>
    <div class="calculator_actions">
        @@include("../button/button.html",{
            "text":"7"
        })
        @@include("../button/button.html",{
            "text":"8"
        })
        @@include("../button/button.html",{
            "text":"9"
        })
        @@include("../button/button.html",{
            "text":"+"
        })
        @@include("../button/button.html",{
            "text":"4"
        })
        @@include("../button/button.html",{
            "text":"5"
        })
        @@include("../button/button.html",{
            "text":"6"
        })
        @@include("../button/button.html",{
            "text":"-"
        })
        @@include("../button/button.html",{
            "text":"1"
        })
        @@include("../button/button.html",{
            "text":"2"
        })
        @@include("../button/button.html",{
            "text":"3"
        })
        @@include("../button/button.html",{
            "text":"*"
        })
        @@include("../button/button.html",{
            "text":"0"
        })
        @@include("../button/button.html",{
            "text":","
        })
        @@include("../button/button.html",{
            "text":"="
        })
        @@include("../button/button.html",{
            "text":"/"
        })
    </div>
</div>